
    <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
    </head>
    <body>
    <table border="1" class="dataframe data_train">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>language</th>
      <th>totalL</th>
      <th>meanLW</th>
      <th>sentiment</th>
      <th>numwords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>andres</td>
      <td>1</td>
      <td>1</td>
      <td>4.60</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>andres</td>
      <td>1</td>
      <td>0</td>
      <td>3.00</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>3.86</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>3.83</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>4.20</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>andres</td>
      <td>1</td>
      <td>1</td>
      <td>3.33</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>4.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>4.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>5.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
        </body>
    </html>
    
    <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
    </head>
    <body>
    <table border="1" class="dataframe data_train">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>language</th>
      <th>totalL</th>
      <th>meanLW</th>
      <th>sentiment</th>
      <th>numwords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>andres</td>
      <td>1</td>
      <td>1</td>
      <td>4.60</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>andres</td>
      <td>1</td>
      <td>0</td>
      <td>3.00</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>3.86</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>3.83</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>sandra</td>
      <td>1</td>
      <td>1</td>
      <td>4.20</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>andres</td>
      <td>1</td>
      <td>1</td>
      <td>3.33</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>4.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>4.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>carlos</td>
      <td>0</td>
      <td>0</td>
      <td>5.00</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>cristobal</td>
      <td>0</td>
      <td>1</td>
      <td>4.00</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>cristobal</td>
      <td>0</td>
      <td>2</td>
      <td>4.50</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>cristobal</td>
      <td>0</td>
      <td>2</td>
      <td>3.23</td>
      <td>0</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
        </body>
    </html>
    